.App {
  text-align: center;
}
/*
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

#list {
  height: 100vh;
  width: 60vw;
}

/* .Map {
  left: 60vw;
  top: 0;
  width: 4vw;
  height: 480px;
} */
/* 
#mapid {
  top:0;
  left: 960px;
} */

.leaflet-container {
  height: 50vh;
  width: 40vw;
}

/* .leaflet-left {
  left: 960px;
}

.leaflet-top {
  top: 0;
} */